@font-face{
	font-family: c64;
	src:url(../resources/c64.woff);
}

body{
	background-color:white;
	color:black;
	font-family: c64;
	overflow: hidden;
}

.container{
	text-align:center;
}

.inner{
	margin-left:auto;
	margin-right:auto;
	display:block;
	width:640px;
}

.marquee{
	text-align:center;
	font-size:18px;
	height:25px;
}

.instructions{
	font-size:8px;
}